* {
    box-sizing: border-box;
}

:root {
    --primary-color: #790e1c;
}

body {
    font-family: Montserrat, sans-serif;
    /* font-size: 18px; */
    line-height: 1.5;
    /* Montserrat je potřeba nastavit */
    margin: 1.5rem 2rem;
}

.choice .success,
.choice .error {
    padding: 0.5rem 1rem;
    display: inline-block;
    background-color: lightgreen;
}

.choice .error {
    background-color: pink;
}

.choice table {
    border-collapse: collapse;
}

.choice table td {
    vertical-align: middle;
}

.choice table td:nth-child(2) {
    padding: 0.25rem 1rem;
}

.choice button {
    font-size: 0.9em;
}
