<!DOCTYPE html>
<html lang="cs">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex">
    <title>Administrace | Volba druhého cizího jazyka</title>
    <link rel="stylesheet" href="../assets/admin.css">
    <link href="https://www.gyohavl.cz/image.php?nid=19346&amp;oid=8380504&amp;width=32" rel="icon" type="image/png">
</head>

<body>
    <div class="message">{message}</div>
    {content}
    <script src="../assets/admin.js"></script>
</body>

</html>
