<!DOCTYPE html>
<html lang="cs">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Volba druhého cizího jazyka | Gymnázium Olgy Havlové, Ostrava-Poruba</title>
    <link rel="stylesheet" href="assets/client.css">
    <link href="https://www.gyohavl.cz/image.php?nid=19346&amp;oid=8380504&amp;width=32" rel="icon" type="image/png">
</head>

<body>
    <div class="container">
        <h1>Volba druhého cizího jazyka</h1>
        {content}
    </div>
    <script src="assets/client.js"></script>
</body>

</html>
